<main id="main">

    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

                <div class="section-title">
                <h3 class="hdnm">Welcome {{username| titlecase}} !</h3> 
                <h2>My Videos</h2>
                <h4><a href="javascript:void(0)"  (click)="resetForm()" id="addVideoLink">Add Video</a></h4>
                <p>Please Add And See Online Videos. <br/>
                This is where teams can organize, share, and find the videos 
                that for learning. Here you can see only your uploaded videos.</p> 
                </div>

                <div class="row">
                        <div class="col-sm-8 border-right border-success" >
                         <h4>  Videos Listing</h4>
                                <table class="table table-striped">  
                                    <thead>  
                                        <tr>  
                                            <th>Title</th>  
                                            <th>Description</th>  
                                            <th>Url</th>
                                        </tr>  
                                    </thead>  
                                    <tbody>
                                    <tr *ngIf="countRecord==0"><td colspan="3">No Record Found. Please upload a new video youtube link.</td></tr>  
                                        <tr *ngFor="let item of record.data">  
                                            <td>
                                            <input type="radio" #changeDataRef name="changeData" value="{{item._id}}" (change)="getSingleVideo(changeDataRef.value);" />&nbsp;
                                            {{item.title}}</td>  
                                            <td>{{item.description}}</td>  
                                            <td><a href="{{item.url}}" target="_blank">{{item.url}}</a></td>  
                                        </tr>  
                                    </tbody>  
                                </table> 
                        </div>
                        <div class="col-sm-4" >
                                <form [formGroup]="addVideoForm">
                                        <input type="hidden" name="videoIdPk" [(ngModel)]="videoIdPk" [value]="videoIdPk"  [ngModelOptions]="{standalone: true}"/> 
                                        
                                       <h4> {{buttonValue}}</h4>
                                        <input type="text"  #titleRef formControlName="title"  class="form-control" [class.is-invalid]="addVideoForm.get('title').invalid && addVideoForm.get('title').touched" placeholder="Title" 
                                        [(ngModel)]="title"  >
                                            
                                        <p *ngIf="addVideoForm.get('title').invalid && addVideoForm.get('title').touched">
                                        <small *ngIf="addVideoForm.get('title').errors?.required" class="text-danger">Title is Required</small>
                                       
                                        </p><br/>
                                   

                                    
                                        <textarea rows="8" formControlName="description"  #descriptionRef class="form-control" [class.is-invalid]="addVideoForm.get('description').invalid && addVideoForm.get('description').touched" placeholder="Description" [(ngModel)]="description">
                                        </textarea>
                                            
                                        <p *ngIf="addVideoForm.get('description').invalid && addVideoForm.get('description').touched">
                                        <small *ngIf="addVideoForm.get('description').errors?.required" class="text-danger">Description is Required</small>
                                       
                                        </p><br/>
                                    
                                         <input type="text" formControlName="url"  #urlRef class="form-control" [class.is-invalid]="addVideoForm.get('url').invalid && addVideoForm.get('url').touched" placeholder="Url" [(ngModel)]="url">
                                            
                                        <p *ngIf="addVideoForm.get('url').invalid && addVideoForm.get('url').touched">
                                        <small *ngIf="addVideoForm.get('url').errors?.required" class="text-danger">Url is Required</small>
                                       
                                        </p><br/>
                                
                                        
                                        <button class="btn btn-success" type="button" [disabled]="addVideoForm.invalid" (click)="addUpdateVideo(titleRef.value,descriptionRef.value,urlRef.value)">{{buttonValue}}</button> &nbsp;
                                        
                                        <button *ngIf="buttonValue=='Update Video'" class="btn btn-danger" type="button" (click)="deleteVideo()">Delete Video</button>
                                    
                                </form>
                        </div>
                </div>

        </div>
    </section>

  </main><!-- End #main -->
